@model IEnumerable<SelectCategoryViewModel>

<h2>Сhoose specialties</h2>

<form asp-area="Specialist" asp-controller="Profile" asp-action="EditSubCategories" method="post">
    <ul id="categories" class="pl-0">
        @foreach (var category in Model)
        {
            <li>
                @category.Category.DescriptionRU
                <ul class="pl-0">

                    @foreach (var subCategory in category.SelectSubCategory)
                    {
                        <li class="d-flex align-items-center pl-0">
                            <input type="checkbox" name="subCategoriesId" value="@subCategory.SubCategory.Id" @(subCategory.Selected ? "checked" : "") />
                            <label class="w-100 m-0">@subCategory.SubCategory.DescriptionRU</label>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tree-view/jquery.treeView.js"></script>
    <script>
        $('#categories').treeView();
    </script>
}