@model UploadWorkViewModel
@{
    ViewData["Title"] = "Upload work";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Upload work</h2>
                        <p>Photos (clients see them)</p>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a asp-area="Specialist" asp-controller="Profile" asp-action="Index">Profile</a> <i class="fa fa-angle-right"></i></li>
                                <li><a asp-area="Specialist" asp-controller="Profile" asp-action="Works">Works</a> <i class="fa fa-angle-right"></i></li>
                                <li>Upload work</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <form asp-area="Specialist" asp-controller="Profile" asp-action="UploadWork" method="post" enctype="multipart/form-data" class="col-12">
                <div class="custom-file">
                    <input name="Image" type="file" class="custom-file-input" id="inputFile">
                    <label class="custom-file-label" for="inputFile">Choose file</label>
                </div>
                <div class="jp_adp_textarea_main_wrapper">
                    <textarea asp-for="Description" class="form-control" rows="7" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="jp_adp_form_wrapper">
                    <button class="btn btn-success" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
