@model string
@{
    ViewData["Title"] = "Upload portrait";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Portarit</h2>
                        <p>Photos (clients see them)</p>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a asp-area="Specialist" asp-controller="Profile" asp-action="Index">Profile</a> <i class="fa fa-angle-right"></i></li>
                                <li>Upload portrait</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <partial name="_PhotoTabNavigation" />

            @if (TempData.ContainsKey("Status"))
            {
                <div class="alert alert-info col-12" role="alert">
                    @TempData["Status"]
                </div>
            }
            <div class="jp_adp_choose_resume">
                <form asp-area="Specialist" asp-controller="Profile" asp-action="UploadPortrait" method="post" enctype="multipart/form-data" class="custom-input">
                    <span><i class="fa fa-upload"></i> &nbsp;Upload Image</span>
                    <input name="Image" type="file" onchange="form.submit()" />
                </form>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model) && Model != "N/A")
            {
                <div class="w-100">
                    <img class="img-fluid img-rounded my-2" width="250" height="200" src="~/@Model" />
                    <form asp-area="Specialist" asp-controller="Profile" asp-action="DeletePortrait" method="post" class="mt-1">
                        <button class="jp_btn_default" width="250">Delete</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $("#inputGroupFile").change(function () {
            console.log("test");

            document.getElementById("label").innerText = this.value;

        });
    </script>
}
