@model string

<h2>Photos (clients see them)</h2>

<partial name="_PhotoTabNavigation" />

<div class="my-2">
    @if (TempData.ContainsKey("Status"))
    {
        <div class="alert alert-info" role="alert">
            @TempData["Status"]
        </div>
    }
    <form asp-area="Specialist" asp-controller="Profile" asp-action="UploadPortrait" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input name="Image" type="file" required class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFile">
                <label class="custom-file-label" for="inputGroupFile" id="label">Choose portrait</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Upload</button>
            </div>
        </div>
    </form>

    @if (!string.IsNullOrWhiteSpace(Model))
    {
        <img class="img-fluid img-rounded my-2" width="200" height="200" src="~/@Model" />
        <form asp-area="Specialist" asp-controller="Profile" asp-action="DeletePortrait" method="post" class="mt-1">
            <button class="btn btn-danger">Delete</button>
        </form>
    }
</div>

@section Scripts
{
    <script>

        $("#inputGroupFile").change(function () {
            console.log("test");

            document.getElementById("label").innerText = this.value;

        });
    </script>
}