@model ReviewViewModel

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Add review</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li>Home <i class="fa fa-angle-right"></i></li>
                                <li><a asp-area="" asp-controller="Order" asp-action="Index">Orders <i class="fa fa-angle-right"></i></a></li>
                                <li>Add review</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_cp_profile_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_contact_form_box mt-0">
                    <form id="reviewForm" asp-area="" asp-controller="Order" asp-action="AddReview" method="post" enctype="multipart/form-data" class="row">
                        <input asp-for="OrderId" hidden />
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <h2 class="header">How do you like the job of a specialist?</h2>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="~/@Model.SpecialistImage" error-src="" class="w-100 img-rounded">
                                        </div>
                                        <div class="col-8 jp_job_post_right_cont">
                                            <h4>@Model.SpecialistFullName</h4>
                                            <a asp-area="" asp-controller="Specialist" asp-action="Specialist" asp-route-id="@Model.SpecialistId">Профиль</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
                                <textarea asp-for="Text" id="text" rows="6" placeholder="Type Your Comment *"></textarea>
                                <span asp-validation-for="Text" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
                                <div id="imageContainer" class="mt-5 d-flex flex-wrap">

                                </div>
                            </div>
                            <div class="jp_adp_choose_resume">
                                <div class="custom-input">
                                    <span><i class="fa fa-upload"></i> &nbsp;Upload Image</span>
                                    <input id="upload" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
                                <h2 class="header">Mark</h2>
                                <div class="star-rating reviwe-stars">
                                    <span class="fa fa-star-o yes" data-rating="1"></span>
                                    <span class="fa fa-star-o yes" data-rating="2"></span>
                                    <span class="fa fa-star-o yes" data-rating="3"></span>
                                    <span class="fa fa-star-o yes" data-rating="4"></span>
                                    <span class="fa fa-star-o yes" data-rating="5"></span>
                                    <input asp-for="Mark" type="number" id="mark" hidden class="rating-value">
                                    <span asp-validation-for="Mark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                            <div class="jp_adp_choose_resume">
                                <button id="submit" type="submit" class="jp_btn_default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        let imagesInput = document.querySelector('#images');
        console.dir(imagesInput);

        let Images = [];
        let count = 0;
        $('#upload').change(function () {
            if (this.files && this.files[0] && count < 6 && this.files.length + count <= 6) {
                let file = this.files[0]
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imageContainer').append(
                        `<div class="review-image mb-2 mr-2">
                                                <img src="${e.target.result}">
                                                <button data-index="${count}" type="button"></button>
                                                <span data-index="${count}" class="close cross"></span>
                                             </div>`);
                    count++;
                }
                $('#reviewForm').append(`<input name="Images" data-index="${count}" type="file" hidden />`);
                document.querySelector(`input[data-index="${count}"]`).files = this.files;
                reader.readAsDataURL(file);
                if (Images.filter(m => m != null).length >= 6) {
                    $('#submit').attr('disabled', true);
                }
            }
        });

        $('#imageContainer').on('click', '[data-index]', function () {
            let target = $(this);
            let index = target.data('index');
            Images[index] = null;
            $(`input[data-index="${index}"`).remove();
            target.parent().remove();
            if (Images.filter(m => m != null).length < 6) {
                $('#submit').attr('disabled', false);
            }
        })
    </script>
}
