@model IEnumerable<OrderViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
                <div id="list" class="tab-pane fade active in">
                    <div class="row">

                        @foreach (var order in Model)
                        {
                            <partial name="_OrderPartial" model="order" />
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>