@model IEnumerable<OrderViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
                <div id="list" class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-12 mt-3">
                            @if (TempData.ContainsKey("Status"))
                            {
                                <div class="alert alert-info w-100" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Status"]
                                </div>
                              
                            }
                        </div>
                        @if (Model.Any())
                        {
                            @foreach (var order in Model)
                            {
                                <partial name="_OrderPartial" model="order" />
                            }
                        }
                        else
                        {
                            <div class="w-100 mt-5 d-flex flex-column align-items-center justify-content-center">
                                <h2 class="header">@SharedLocalizer["noorderstext"]</h2>
                                <a asp-area="" asp-controller="Order" asp-action="Create" class="jp_btn_default mt-3">@SharedLocalizer["createorder"]</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>