################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Careers
/Careers/obj
Careers/.vscode/launch.json
Careers/.vscode/tasks.json
