################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Careers
/Careers/obj
Careers/.vscode
/Careers/bin
/Careers/Migrations
/Careers/wwwroot/.vscode
/Careers/Media
/Careers/wwwroot/media/specialistProfile
