@{
    ViewData["Title"] = "Home Page";
}


<div id="head" class="container-fluid">
    <h1>Careers</h1>
    
    <div class="right-side">
        <h2 class="order-count">5 484 561</h2>
        <p class="order-text">orders <br/> were made on Careers.ru</p>
    </div>
</div>
