@model IEnumerable<OrderViewModel>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content">
                    <div id="list" class="tab-pane fade active in">
                        <div class="row">
                            @if (!Model.Any())
                            {
                                <h1 class="no-orders">No orders for you found</h1>
                            }
                            else
                            {
                                @foreach (var order in Model)
                                {
                                    <partial name="_OrderPartial" model="order" />
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_EditBalanceModalPartial" />

@section Scripts{
    <script>
        let newOrderCounter = 0;
        //button hide изначально

      const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/notification")
            .withAutomaticReconnect().build();
        hubConnection.serverTimeoutInMilliseconds = 100000;

        hubConnection.on("NewOrder", async function (id) {

            let result = await fetch('@Url.Action("CheckNewOrder","Order",new{area="SpecialistArea" })/' + id);

            Console.log(result);
            if (result == true) {
                newOrderCounter = newOrderCounter + 1;
                //button .show ну или типо того
            }
        });

         hubConnection.start().then(function() {
            console.log("connected");
        });

    </script>
}