@model IEnumerable<OrderViewModel>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="d-flex justify-content-center w-100">
            <a id="newOrderBtn" asp-area="SpecialistArea" asp-controller="Order" asp-action="Index" class="jp_btn_default" style="display: none;">@SharedLocalizer["newOrders"]</a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content">
                    <div id="list" class="tab-pane fade active in">
                        <div class="row">
                            @if (!Model.Any())
                            {
                                <h1 class="no-orders">@SharedLocalizer["noOrders"]</h1>
                            }
                            else
                            {
                                @foreach (var order in Model)
                                {
                                    <partial name="_OrderPartial" model="order" />
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_EditBalanceModalPartial" />

@section Scripts
{
    <script src="~/lib/signalr/dist/signalr.min.js"></script>
    <script>
        let newOrderCounter = 0;

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/notifications")
            .withAutomaticReconnect().build();
        hubConnection.serverTimeoutInMilliseconds = 100000;

        hubConnection.on("NewOrder", async function (id) {
            let response = await fetch('@Url.Action("CheckNewOrder","Order",new{area="SpecialistArea" })/' + id);
            let result = await response.json();

            if (result == true) {
                //console.log("true");

                newOrderCounter = newOrderCounter + 1;
                $('#newOrderBtn').text(`New orders: ${newOrderCounter}`);
                $('#newOrderBtn').show();
            }
            else if (result == false) {
                //console.log("false");
            }
        });

         hubConnection.start().then(function() {
            console.log("connected");
        });

    </script>
}