/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* my styles*/

#head {
    width: 100%;
    height: 100px;
    background-color: #1861ac;
    display: flex;
    justify-content: space-between;
}

h1 {
    align-self: center;
}

.right-side {
    display: flex;
}

.order-count {
    align-self: center;
}

.order-text {
    align-self: center;
}

main {
    min-height: 600px;
}

.info-message {
    /*position: absolute;*/
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.my-mainmenu {
    float: none !important;
}

.my-image {
    position: absolute;
    height :60px;
    width:60px;
    top: -40px;
    left: 20px;
}

.my-image img{
    margin-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profilebutton {
    font-size: 20px;
}

.my-notification-radibuttons {
    display: flex;
    justify-content: space-around;
}

.my-notification-label {
    display: flex;
    align-items: center;
}

.services-of-subcategory {
    height: 370px;
}
.services-of-subcategory ul {
    height: 100%;
    overflow: auto;
}

.services-of-subcategory ul li {
    margin-top: 3px;
    margin-bottom: 3px;
}


.category-subcategory-margin {
    margin-bottom: 20px;
    margin-right: 10px;
}
