/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* my styles*/

#head {
    width: 100%;
    height: 100px;
    background-color: #1861ac;
    display: flex;
    justify-content: space-between;
}

h1 {
    align-self: center;
}

.right-side {
    display: flex;
}

.order-count {
    align-self: center;
}

.order-text {
    align-self: center;
}

main {
    min-height: 600px;
}

.info-message {
    /*position: absolute;*/
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.rievew_Section_comment img {
    width: 100%;
    height: 100%;
}

.my-mainmenu {
    float: none !important;
}

.my-image {
    position: absolute;
    height: 60px;
    width: 60px;
    right: -70px;
    top: -40px;
    /*left: 20px;*/
}

    .my-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

#profilebutton {
    font-size: 20px;
}

.my-notification-radibuttons {
    display: flex;
    justify-content: space-around;
}

.my-notification-label {
    display: flex;
    align-items: center;
}

.services-of-subcategory {
    height: 370px;
}

    .services-of-subcategory ul {
        height: 100%;
        overflow: auto;
    }

        .services-of-subcategory ul li {
            margin-top: 3px;
            margin-bottom: 3px;
        }


.category-subcategory-margin {
    margin-bottom: 20px;
    margin-right: 10px;
}


.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.fa-star {
    color: #FDC91B;
}

.specialist-description {
    word-break: break-all;
}

.spec-rating {
    margin-left: 0 !important;
}

    .spec-rating a {
        width: 100% !important;
    }

.spec-ul {
    display: flex;
    flex-direction: column;
}

    .spec-ul li {
        width: 100%;
    }

.next20 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.my-head-in-specialist {
    border: solid 1px #23c0e9;
    border-radius: 25px
}

.review-image {
    position: relative;
    height: 150px;
}

.review-sm-image {
    position: relative;
    height: 100px;
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-sm-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-image button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    border-top: 55px solid rgba(0,0,0,.5);
    border-left: 55px solid transparent;
    background-color: transparent;
    transition-duration: .2s;
    transition-property: all;
}

.cross {
    position: absolute;
    top: 3px !important;
    right: 8px !important;
    left: auto !important;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.reviwe-stars {
    font-size: 28px;
    margin-top: 6px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    background-color: gray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.jp_job_des_large_font_size {
    font-size: 24px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

div.image-container {
    height: 120px;
    margin-bottom: 10px;
    /*padding-top: .25rem;*/
    position: absolute;
    bottom: 50px;
    left: 14px;
    right: 30px;
    overflow-y: auto;
    display: none;
    /*box-shadow: 0 -3px 4px rgba(0,0,0,.1);*/
    padding: 0px 25px 0px 25px;
    background-color: white;
}

/*.image-container img {
    width: 100px;
    height: 100px;
    margin: 2px;
}*/

.service-name:hover {
    color: #23C0E9;
    transition: 200ms;
    cursor: default;
}