<div class="modal fade" id="replenishBalance" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
            </div>
            <div class="modal-body">
                <p class="header">You do not have enough money on the balance sheet</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="jp_btn_default" data-dismiss="modal">Close</button>
                <a asp-area="SpecialistArea" asp-controller="Profile" asp-action="Balance" class="jp_btn_default">Balance</a>
            </div>
        </div>
    </div>
</div>