<ul class="nav nav-tabs nav-fill mt-5 w-100">
    <li is-active-route asp-controller="Response" asp-action="Responses" class="nav-item">
        <a asp-area="SpecialistArea" asp-controller="Response" asp-action="Responses" class="nav-link">@SharedLocalizer["responses"]</a>
    </li>
    <li is-active-route asp-controller="Order" asp-action="MyOrders" class="nav-item">
        <a asp-area="SpecialistArea" asp-controller="Order" asp-action="MyOrders" class="nav-link">@SharedLocalizer["orders"]</a>
    </li>
</ul>