<a asp-area="SpecialistArea" asp-controller="Response" asp-action="Responses" class="btn btn btn-outline-primary btn-sm">My responses</a>
<a asp-area="SpecialistArea" asp-controller="Order" asp-action="MyOrders" class="btn btn btn-outline-primary btn-sm">My orders</a>