@model Careers.ViewModels.Auth.ForgotPasswordViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}

<div class="container">

    <h4 class="mt-5 header">@SharedLocalizer["enterEmail"]</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form method="post" asp-controller="Auth" asp-action="ForgotPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="jp_adp_form_wrapper">
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="jp_adp_form_wrapper">
                    <button type="submit" class="jp_btn_default">@SharedLocalizer["send"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}