@using NUglify.Helpers
@model Careers.ViewModels.Auth.RegistrationViewModel

@{
    Layout = "_Layout";
}

<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Register</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Home</a> <i class="fa fa-angle-right"></i></li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- jp register wrapper start -->
<div class="register_section">
    <!-- register_form_wrapper -->
    <div class="register_tab_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul id="tabOne" class="nav register-tabs">
                            <li class="active">
                                <a href="#contentOne-1" data-toggle="tab">Client account <br> <span>i am looking for a specialist</span></a>
                            </li>
                            <li>
                                <a href="#contentOne-2" data-toggle="tab">Specialist account <br> <span>i am looking for a job</span></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <form method="post" asp-controller="Auth" asp-action="SignUp" class="tab-pane fade in active register_left_form" id="contentOne-1">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="jp_regiter_top_heading">
                                    <p>Fields with * are mandetory </p>
                                </div>

                                <div class="row">
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.UserName"></label>
                                        <input asp-for="Client.UserName" class="form-control">
                                        <span asp-validation-for="Client.UserName" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.Email"></label>
                                        <input asp-for="Client.Email" class="form-control">
                                        <span asp-validation-for="Client.Email" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.Password"></label>
                                        <input asp-for="Client.Password" class="form-control">
                                        <span asp-validation-for="Client.Password" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.ConfirmPassword"></label>
                                        <input asp-for="Client.ConfirmPassword" class="form-control">
                                        <span asp-validation-for="Client.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.PhoneNumber"></label>
                                        <input asp-for="Client.PhoneNumber" class="form-control">
                                        <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="check-box text-center">
                                            <input type="checkbox" asp-for="AgreedWithTerms"> &ensp;
                                            <label asp-for="AgreedWithTerms">I agreed to the <a target="_blank" asp-controller="Home" asp-action="Privacy" class="check_box_anchr">Terms and Conditions</a> governing the use of jobportal</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                    <button type="submit" class="btn btn-primary login_btn"> register </button>
                                </div>
                                <div class="login_message">
                                    <p>Already a member? <a asp-controller="Auth" asp-action="LogIn"> Login Here </a> </p>
                                </div>
                            </form>

                            <form method="post" asp-controller="Auth" asp-action="SignUp" class="tab-pane fade register_left_form" id="contentOne-2">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="jp_regiter_top_heading">
                                    <p>Fields with * are mandetory </p>
                                </div>

                                <div class="row clearfix">
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.UserName"></label>
                                        <input asp-for="Client.UserName" class="form-control">
                                        <span asp-validation-for="Client.UserName" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.Email"></label>
                                        <input asp-for="Client.Email" class="form-control">
                                        <span asp-validation-for="Client.Email" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.Password"></label>
                                        <input asp-for="Client.Password" class="form-control">
                                        <span asp-validation-for="Client.Password" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.ConfirmPassword"></label>
                                        <input asp-for="Client.ConfirmPassword" class="form-control">
                                        <span asp-validation-for="Client.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="Client.PhoneNumber"></label>
                                        <input asp-for="Client.PhoneNumber" class="form-control">
                                        <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input">
                                        <input type="file" name="resume">
                                        <p>Upload your profile image</p>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="check-box text-center">
                                            <input type="checkbox" asp-for="AgreedWithTerms"> &ensp;
                                            <label asp-for="AgreedWithTerms">I agreed to the <a target="_blank" asp-controller="Home" asp-action="Privacy" class="check_box_anchr">Terms and Conditions</a> governing the use of jobportal</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                    <button type="submit" class="btn btn-primary login_btn"> register </button>
                                </div>
                                <div class="login_message">
                                    <p>Already a member? <a asp-controller="Auth" asp-action="LogIn"> Login Here </a> </p>
                                </div>

                            </form>

                        </div>
                        <p class="btm_txt_register_form">In case you are using a public/shared computer we recommend that you logout to prevent any un-authorized access to your account</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}