<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-0">
        <div class="container">

            <a class="navbar-brand" href="#">JobPro</a>
            <ul class="navbar-nav w-100 d-flex justify-content-end">
                <li class="nav-item">
                    <a asp-area="Specialist" asp-controller="Profile" asp-action="Index" class="w-100 h-100">
                        <img src="~/@ViewData["ImageUrl"]" placeholder-src="/images/content/profile_placeholder.png"
                             width="45" height="45" class="img-fluid rounded">
                    </a>
                </li>
                <li class="nav-item dropleft d-flex flex-column">
                    <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @User.Identity.Name
                        }
                    </a>
                    <a asp-area="Specialist" asp-controller="Profile" asp-action="Balance" class="nav-link py-0">Balance: 0 AZN</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Notifications</a>
                        <a class="dropdown-item" href="#">Notifications settings</a>
                        <a asp-controller="Auth" asp-action="SignOut" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-2 p-0">
                <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
                    <ul class="navbar-nav flex-sm-column flex-row">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bolder" href="#">New orders</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Specialist" asp-controller="Order" asp-action="MyOrders" class="nav-link font-weight-bolder">My orders</a>
                        </li>
                        <li class="nav-item active">
                            <a asp-area="Specialist" asp-controller="Profile" asp-action="Index" class="nav-link font-weight-bolder">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-10 py-3">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>