<a asp-area="Specialist" asp-controller="Order" asp-action="MyResponces" class="btn btn btn-outline-primary btn-sm">My responces</a>
<a asp-area="Specialist" asp-controller="Order" asp-action="MyOrders" class="btn btn btn-outline-primary btn-sm">My orders</a>