<a asp-area="Specialist" asp-controller="Profile" asp-action="Index" class="btn btn btn-outline-primary btn-sm">Profile</a>
<a asp-area="Specialist" asp-controller="Settings" asp-action="Index" class="btn btn btn-outline-primary btn-sm">Settings</a>