@model Careers.ViewModels.Auth.ClientRegistrationVm


<form method="post" asp-controller="Auth" asp-action="SignUpClient" class="tab-pane fade register_left_form in active" id="contentOne-1">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="jp_regiter_top_heading">
        <p>Fields with * are mandetory </p>
    </div>

    <div class="row">
        <!--Form Group-->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <!--Form Group-->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!--Form Group-->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <!--Form Group-->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <!--Form Group-->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="check-box text-center">
                <input type="checkbox" asp-for="AgreedWithTerms"> &ensp;
                <label asp-for="AgreedWithTerms">I agreed to the <a target="_blank" asp-controller="Home" asp-action="Privacy" class="check_box_anchr">Terms and Conditions</a> governing the use of jobportal</label>
            </div>
        </div>
    </div>

    <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
        <button type="submit" class="btn btn-primary login_btn"> register </button>
    </div>
    <div class="login_message">
        <p>Already a member? <a asp-controller="Auth" asp-action="LogIn"> Login Here </a> </p>
    </div>
</form>