@model Careers.Models.Extra.MessagesAndCurrentUser

@{
    var spec = Model.Dialog.UserSpecialistMessage.Specialist;
    var client = Model.Dialog.UserSpecialistMessage.Client;
}
<div class="message-box-header">

    @if (Model.UserId == spec.AppUserId)
    {
        <h5>@client.Name @client.Surname</h5>
    }
    else
    {
        <h5>@spec.Name @spec.Surname</h5>
    }
    <div id="buttons" class="navbar navbar-expand-sm drop m-0">
        @if (Model.IsHaveSelectedSpeciaslit && Model.IsSelectedSpecialist)
        {
            @if (!Model.IsFinished)
            {
                <button type="button" id="complete" class="btn btn-sm btn-danger mr-2">Завершить выполнение</button>
            }
            <button type="button" id="refuse" class="btn btn-sm btn-danger mr-2">Отказаться</button>
        }
        else if (!Model.IsSelectedSpecialist && !Model.IsSelectedSpecialist)
        {
            <button type="button" id="select" class="btn btn-sm btn-danger mr-2">Выбрать этого мастера</button>
        }

    </div>
</div>
<div style="height: 75vh;">

    <ul class="dashboard-conversation" style="height: 75vh;  overflow-y: scroll;">

        @foreach (var message in Model.Dialog.Messages)
        {
            <partial name="_MessagePartial" model="message" />
        }

    </ul>
    <div class="image-container row py-2" style="right: 15px"></div>
    <partial name="_SendFormPartial" />
</div>

@section Scripts {
    <script src="~/lib/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-images]").magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1]
                },
                zoom: {
                    enabled: true,
                    duration: 300,
                    easing: 'ease-in-out'
                }
            });
        });
    </script>
}
