<div class="modal-body">
    <p class="header">@SharedLocalizer["noOrder"]</p>
</div>
<div class="modal-footer">
    <button type="button" class="jp_btn_default" data-dismiss="modal">@SharedLocalizer["close"]</button>
    <a asp-area="" asp-controller="Order" asp-action="Create" class="jp_btn_default">@SharedLocalizer["newOrder"]</a>
</div>