<div class="modal-body">
    <p class="header">Create an order to discuss it with this specialist.</p>
</div>
<div class="modal-footer">
    <button type="button" class="jp_btn_default" data-dismiss="modal">Close</button>
    <a asp-area="" asp-controller="Order" asp-action="Create" class="jp_btn_default">Create order</a>
</div>