@model Order

<div class="modal-body">
    <p class="header">You have a order for this specialist.</p>
</div>
<div class="modal-footer">
    <button type="button" class="jp_btn_default" data-dismiss="modal">Close</button>
    <button data-orderid="@Model.Id" type="button" class="jp_btn_default">Order</button>
</div>