@model Careers.ViewModels.Partial.ChatWithSpecViewModel

<div class="modal-body">
    <p class="header">You have a order for this specialist.</p>
</div>
<div class="modal-footer">
    <button type="button" class="jp_btn_default" data-dismiss="modal">Close</button>
    @* <button data-orderid="@Model.Id" type="button" class="jp_btn_default">Order</button>*@
    <a class="jp_btn_default"
       href="@Html.Raw(Url.Action("CreateDialog", "Specialist", new { orderId = Model.OrderId, specialistId = Model.SpecialistId }))">
        Create order
    </a>

</div>



@*<a asp-controller="Specialist"
   asp-action="CreateDialog"
   asp-route-orderId="@Model."
   asp-route-specialistId="@Model.SpecialistId"
   class="jp_btn_default">
    Create order
</a>*@