<div class="conversation-write-wrap">
    <form>
        <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" id="text" placeholder="Type a message"></textarea>
        <label class="send-image">
            <input type="file"><i class="fa fa-file-image-o"></i>
        </label>
        <button type="button" id="btnSendMessage" class="send-message"><i class="fa fa-location-arrow"></i></button>
    </form>
</div>