@using System.Globalization
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = new[] {
        new CultureInfo ("ru-RU"),
        new CultureInfo ("az-Latn-AZ")
    }.Select(c => new SelectListItem { Value = c.Name, Text = c.TwoLetterISOLanguageName })
        .ToList();
}

<form asp-controller="Home" asp-action="SetLanguage" 
      asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery() "
      method="post" class="form-horizontal">

    <select name="culture" onchange="this.form.submit();"
            asp-for="@requestCulture.RequestCulture.UICulture.Name"
            asp-items="cultureItems"></select>
</form>
