@model Question
@using System.Globalization

<div class="jp_adp_textarea_main_wrapper p-0 mt-4 border-0">
    @if (CultureInfo.CurrentCulture.Name == "ru-RU")
    {<p>@Model.TextRU</p> }
    else
    { <p>@Model.TextAZ</p>}

    <textarea name="answer" type="text" rows="3"></textarea>
</div>