@using System.Globalization
@model Question

    <div class="jp_adp_form_wrapper">
        @if (CultureInfo.CurrentCulture.Name == "ru-RU")
        {<p>@Model.TextRU</p>}
        else
        {<p>@Model.TextAZ</p>}
        <input data-question-id="@Model.Id" name="answer" type="text">
    </div>