<div class="container mt-5">

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="Answers" asp-area="AdminPanel">Answers</a>

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="Categories" asp-area="AdminPanel">Categories</a>

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="Measurments" asp-area="AdminPanel">Measurments</a>

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="Questions" asp-area="AdminPanel">Questions</a>

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="Services" asp-area="AdminPanel">Services</a>

    <a class="btn btn-primary" role="button" asp-controller="Editor" asp-action="SubCategories" asp-area="AdminPanel">SubCategories</a>

</div>