@model CategoryViewModel


<div class="container mt-5">
    <h1 class="my-3">Add category</h1>
    <form asp-action="Categories" asp-controller="Editor" asp-area="AdminPanel" method="post">
        <div class="form-group">
            <label for="desctiprionAz">Description AZ</label>
            <input asp-for="DescriptionAZ" class="form-control" data-input id="desctiprionAz" required>
        </div>
        <div class="form-group">
            <label for="desctiprionRu">Description RU</label>
            <input asp-for="DescriptionRU" class="form-control" data-input id="desctiprionRu" required>
        </div>
        <button type="submit" id="submitForm" class="btn btn-primary">Add</button>
    </form>

    <ul class="mt-3 list-group">
        @foreach (var item in Model.Categories)
        {
            <li class="list-group-item">@item.DescriptionAZ - @item.DescriptionRU</li>
        }
    </ul>

    <div>
    </div>

</div>
