@model ServiceViewModel

<div class="container">
    <h1 class="my-3">Add service</h1>
    <form asp-area="AdminPanel" asp-controller="Editor" asp-action="Services" method="post">
        <div class="form-group">
            <label for="categories">Category</label>
            <select asp-items="@Model.Categories" class="form-control" id="categories" required></select>
        </div>
        <div class="form-group">
            <label for="subCategories">SubCategory</label>
            <select asp-for="@Model.SubCateoryId" asp-items="@Model.SubCategories" class="form-control" id="subCategories" required></select>
        </div>
        <div class="form-group">
            <label for="desctiprionAz">Description AZ</label>
            <input asp-for="DescriptionAZ" class="form-control" data-input id="desctiprionAz" readonly required>
        </div>
        <div class="form-group">
            <label for="desctiprionRu">Description RU</label>
            <input asp-for="DescriptionRU" class="form-control" data-input id="desctiprionRu" readonly required>
        </div>
        <button type="submit" id="submitForm" class="btn btn-primary" disabled>Add</button>
    </form>
</div>

@section Scripts {
    <script>
        $('#categories').change(categoriesLoaded);
        $('#subCategories').change(subCategoriesLoaded);

        async function categoriesLoaded() {
            let categoryId = $('#categories option:selected').first().val();
            if (categoryId == 0) {
                $('#subCategories').children().slice(1).remove();
            } else {
                let url ='@Url.Action("SubCategoryOptions", "Editor", new { categoryId = 719 })';
                url = url.replace("719", categoryId);
                let subCategories = await (await fetch(url)).text();
                $('#subCategories').html(subCategories);
            }
        };

        async function subCategoriesLoaded() {
            let subCategoryId = $('#subCategories option:selected').first().val();
            if (subCategoryId == 0) {
                $('[data-input]').attr('readonly', 'readonly');
                $('#submitForm').attr('disabled', 'disabled');
                $('#services').children().slice(1).remove();
            } else {
                $('[data-input]').removeAttr('readonly');
                $('#submitForm').removeAttr('readonly');
            }
        };
    </script>
}