@model SubCategoryViewModel

<div class="container mt-5">

    <form asp-action="SubCategories" asp-controller="Editor" asp-area="AdminPanel">

        <div class="form-group">
            <label for="categories">Category</label>
            <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control" id="categories" required></select>
        </div>

        <div class="form-group">
            <label for="desctiprionAz">Description AZ</label>
            <input asp-for="DescriptionAZ" class="form-control" data-input id="desctiprionAz" required>
        </div>
        <div class="form-group">
            <label for="desctiprionRu">Description RU</label>
            <input asp-for="DescriptionRU" class="form-control" data-input id="desctiprionRu" required>
        </div>
        <button type="submit" id="submitForm" class="btn btn-primary">Add</button>
    </form>
</div>