@model SubCategoryViewModel

<div class="container mt-5">

    <form asp-action="SubCategories" asp-controller="Editor" asp-area="AdminPanel">

        <select asp-for="CategoryId" asp-items="@Model.Categories">
            <option>Please select one</option>
        </select>

        <input asp-for="DescriptionAZ" class="form-control" placeholder="Aze">
        <span asp-validation-for="DescriptionRU" class="text-danger"></span>

        <input asp-for="DescriptionRU" class="form-control" placeholder="Rus">
        <span asp-validation-for="DescriptionRU" class="text-danger"></span>

        <button>Save</button>

    </form>
</div>