@model Specialist
@{
    ViewData["Title"] = "Settings";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Profile settings</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (TempData.ContainsKey("Status"))
                {
                <div class="alert alert-info w-100" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    @TempData["Status"]
                </div>
                }
            </div>

            <div class="list-group mt-2 col-12">
                <div class="list-group-item">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-2">
                                <h5 class="header">Contacts</h5>
                            </div>
                            <div class="col-10">
                                <p>
                                    <a asp-area="SpecialistArea" asp-controller="Settings" asp-action="EditContacts"class="btn btn-sm btn-primary my-1"><i class="fa fa-edit"></i> Edit</a>
                                </p>
                            </div>
                        </div>
                        <p>Ways to contact you.<p>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5 class="header">Full name</h5>
                        </div>
                        <div class="col-10">
                            <p>@Model?.Name @Model?.Surname @Model?.Fathername</p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <h5 class="header">Phone number</h5>
                        </div>
                        <div class="col-10">
                            <p>@Model?.AppUser?.PhoneNumber</p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <h5 class="header">Email</h5>
                        </div>
                        <div class="col-10">
                            <p>@Model?.AppUser?.Email</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group mt-5 col-12">
                <div class="list-group-item">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-2">
                                <h5 class="header">Additionally</h5>
                            </div>
                            <div class="col-10">
                                <p>
                                    <a asp-area="SpecialistArea" asp-controller="Settings" asp-action="EditAdditionally"class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a>
                                </p> 
                            </div>
                        </div>
                        <p>This information is used to more accurately select orders. Clients do not see her.<p>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5 class="header">Birthday</h5>
                        </div>
                        <div class="col-10">
                            <p>@Model.DateOfBirth.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group mt-5 col-12">
                <div class="list-group-item">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-2">
                                <h5 class="header">Security</h5>
                            </div>
                            <div class="col-10">
                                <p>
                                    <a asp-area="" asp-controller="Auth" asp-action="ForgotPassword" class="btn btn-sm btn-primary">Forgot password</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
